body {
	background-color: #f8f8f8;
	font-family: Tahoma, Geneva, sans-serif;
}

.header {
	color: #8a1a1c;
	margin-top: 35px;
}

.header .logo img {
	width: 100%;
}

.header h2.dp, h2.umcc {
	text-align: center;
	font-size: 20px;
}

.header h2.dp {
	text-transform: uppercase;
	letter-spacing: 7px;
	margin-top: 45px;
	margin-bottom: 5px;
}

.header h2.umcc {
	margin-top: 0;
}

.header .language {
	text-align: right;
	margin-top: 20px;
	margin-right: 5px;
}

.header .language a {
	color: #838383;
	text-decoration: underline;
}

.header .search {
	margin-top: 15px;
}

@media only screen and (max-width: 1200px) {
	.header h2.dp {
		letter-spacing: 7px;
		margin-top: 35px;
		margin-bottom: 5px;
	}
}

@media only screen and (max-width: 992px) {
	.header h2.dp {
		letter-spacing: 5px;
		margin-top: 25px;
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 768px) {
	.header h2.dp {
		letter-spacing: 0;
		margin-top: 25px;
	}
}

@media only screen and (max-width: 480px) {
	.header h2.dp {
		margin-top: 0;
	}
}

.head-menu {
	font-size: 18px;
	text-transform: uppercase;
}

.head-menu .navbar {
	border: 0;
	margin-bottom: 0;
	min-height: 30px;
}

.head-menu .navbar-nav>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
}

.head-menu .navbar-default .navbar-nav>li>a {
	color: #8a1a1c;
	letter-spacing: 4px;
	padding-left: 25px;
	padding-right: 25px;
}

.head-menu .navbar-default .navbar-nav>li>a:HOVER {
	color: #520f11;
}

.head-menu .navbar-default .navbar-collapse {
	border-color: #8a1a1c;
}

.head-menu .navbar-default .navbar-collapse:HOVER {
	border-color: #520f11;
}

.head-menu .navbar-default .navbar-toggle {
	border-color: #8a1a1c;
}

.head-menu .navbar-default .navbar-toggle:HOVER {
	background-color: #fff;
	border-color: #520f11;
}

.head-menu .navbar-default .navbar-toggle .icon-bar {
	background-color: #8a1a1c;
}

@media only screen and (max-width: 1200px) {
	.head-menu .navbar-default .navbar-nav>li>a {
		letter-spacing: 2px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media only screen and (max-width: 992px) {
	.head-menu .navbar-default .navbar-nav>li>a {
		letter-spacing: 0;
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media only screen and (max-width: 768px) {
	.head-menu .navbar-default .navbar-nav>li>a {
		letter-spacing: 4px;
		padding-left: 25px;
		padding-right: 20px;
	}
}

hr {
	border: 0;
	min-height: 2px;
	border-color: #8a1a1c;
	background-image: url("../img/hr-bg.png");
	margin-top: 0;
	margin-bottom: 0;
}

hr.heavy {
	border-top: 2px solid #8a1a1c;
	min-height: 0;
}

hr.indent {
	margin-top: 15px;
	margin-bottom: 15px;
}

hr.indent-plus {
	margin-top: 15px;
	margin-bottom: 30px;
}

hr.long {
	margin-left: -15px;
	margin-right: -15px;
}

#carousel-history-generic .carousel-control,
#carousel-main-generic .carousel-control {
	background: none;
}

#carousel-main-generic .carousel-control.right {
	right: -15px;
	text-align: right;
}

#carousel-main-generic .carousel-control .glyphicon-chevron-right {
	right: 0;
}

#carousel-main-generic .carousel-control.left {
	left: -15px;
	text-align: left;
}

#carousel-main-generic .carousel-control .glyphicon-chevron-left {
	left: 0;
}

#carousel-main-generic .carousel-caption {
	right: 0;
	left: 700px;
	padding: 15px;
	top: 0;
	bottom: 0;
}

#carousel-history-generic p,
#carousel-main-generic h3, #carousel-main-generic p {
	text-shadow: none;
}

#carousel-main-generic h3 {
	text-align: left;
	color: #8a1a1c;
}

#carousel-history-generic p,
#carousel-main-generic p {
	text-align: justify;
	color: #838383;
}

#carousel-history-generic .carousel-inner .item img {
	width: 100%;
}

#carousel-history-generic .carousel-caption {
	position: static;
	left: 0;
	right: 0;
	padding-bottom: 60px;
	min-height: 200px;
}

#carousel-history-generic .carousel-indicators {
	left: 0;
	margin-left: 0;
	width: 100%;
}

#carousel-history-generic .carousel-indicators li {
	text-indent: 0;
	letter-spacing: 1px;
	color: #8a1a1c;
	width: initial;
	height: initial;
	padding: 7px;
}

#carousel-history-generic .carousel-indicators li.active {
	background: url("../img/up.png") top center no-repeat;
}

@media only screen and (max-width: 1200px) {
	#carousel-main-generic .carousel-caption {
		left: 600px;
		background: rgba(255, 255, 255, .9);
	}
}

@media only screen and (max-width: 992px) {
	#carousel-main-generic .carousel-caption {
		left: 450px;
	}
	
	#carousel-main-generic .carousel-control.right {
		right: -10px;
	}
	
	#carousel-main-generic .carousel-control.left {
		left: -13px;
	}
}

@media only screen and (max-width: 768px) {
	#carousel-main-generic .carousel-caption {
		left: 55%;
	}
	
	#carousel-main-generic .carousel-control.right {
		right: 0;
	}
	
	#carousel-main-generic .carousel-control.left {
		left: 0;
	}
	
	#carousel-main-generic .carousel-control .glyphicon-chevron-left {
		left: 13px;
	}
	
	#carousel-main-generic h3 {
		margin-top: 0;
	}
}

@media only screen and (max-width: 580px) {
	#carousel-main-generic .carousel-caption {
		padding-top: 0;
	}
	
	#carousel-main-generic h3 {
		font-size: 20px;
		margin-bottom: 0;
	}
	
	#carousel-main-generic p {
		line-height: 1;
		font-size: 13px;
	}
}

@media only screen and (max-width: 450px) {
	#carousel-main-generic .carousel-caption {
		left: 45%;
	}
}

h1 {
	font-size: 24px;
	color: #8a1a1c;
	margin: 14px 4px 10px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h4 {
	text-align: center;
	text-transform: uppercase;
	color: #8a1a1c;
	letter-spacing: 2px;
}

.main-content h4 {
	padding-top: 10px;
}

.main-content .short-block {
	margin-bottom: 20px;
	overflow: hidden;
}

.main-content .short-block .image {
	padding-right: 0;
}

.main-content .short-block img {
	width: 100%;
}

.main-content .short-block .description {
	position: relative;
}

.main-content .short-block .description div {
	position: absolute;
	padding-right: 15px;
}

.main-content .short-block h5,
.main-content .short-block p {
	margin: 0;
	color: #838383;
}

.main-content .short-block h5 {
	font-weight: 600;
}

.main-content .short-block .description-type-2 h5 {
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 16%;
}

.main-content .more {
	text-align: center;
	margin-bottom: 30px;
}

.main-content .more a {
	color: #8a1a1c;
}

.main-content .embed-responsive.embed-responsive-16by9 {
	margin-bottom: 30px;
}

.main-content-type-2 {
	margin-top: 30px;
	margin-bottom: 90px;
}

.main-content-type-2 h4,
.main-content-type-2 p {
	margin-top: 30px;
	margin-bottom: 30px;
}

.main-content-type-2 h4 {
	text-align: left;
}

.main-content-type-2 p {
	color: #838383;
}

.width-100 {
	width: 100%;
}

.footer {
	color: #838383;
	margin-bottom: 30px;
}

.footer h5 {
	text-transform: uppercase;
}

.footer ul.nav li a {
	text-transform: uppercase;
	color: #838383;
	padding: 0;
}

.footer form {
	text-align: right;
}

.footer form input,
.footer form textarea {
	margin-bottom: 5px;
}

.footer form button.btn.btn-primary {
	background-color: #727272;
	border-color: #555;
}

.copy {
	text-transform: uppercase;
	text-align: center;
	color: #838383;
	margin: 20px 15px 10px;
}
